#loginCover {
  background-color: black;
  background-size: cover;
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  position: relative;
}

#cover-caption {
  width: 100%;
  position: relative;
  z-index: 1;
}

.formContainer {
    background-color: white;
    color: #000;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
    border-radius: 2em;
}

.btn {
  width: 100%;
}

.error-message-false {
  color: white;
}

.error-message-true{
  color: red;
}